@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

/* -----Credit------*/
/* box-shadow: https://www.joshwcomeau.com/shadow-palette/ */
:root {
  --shadow-color: 286deg 36% 56%;
  --shadow-elevation-low: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
    1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
    0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
    2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
    5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
    1.5px 2.9px 3.7px -0.4px hsl(var(--shadow-color) / 0.34),
    2.7px 5.4px 6.8px -0.7px hsl(var(--shadow-color) / 0.34),
    4.5px 8.9px 11.2px -1.1px hsl(var(--shadow-color) / 0.34),
    7.1px 14.3px 18px -1.4px hsl(var(--shadow-color) / 0.34),
    11.2px 22.3px 28.1px -1.8px hsl(var(--shadow-color) / 0.34),
    17px 33.9px 42.7px -2.1px hsl(var(--shadow-color) / 0.34),
    25px 50px 62.9px -2.5px hsl(var(--shadow-color) / 0.34);
}

body {
  font: normal normal 13px/16px "Open Sans", sans-serif;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: #f1cffc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: -150px;
}

.box {
  width: 400px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: var(--shadow-elevation-high);
}

h2 {
  color: #fff;
  text-align: center;
  font-size: 21px;
}

.title-box {
  background-color: #af7eeb;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  padding-top: 10px;
  box-shadow: var(--shadow-elevation-medium);
}

form {
  display: inline-block;
}

input {
  padding: 4px 15px 4px 5px;
  margin-left: 25%;
  box-shadow: var(--shadow-elevation-medium);
}

input.text {
  color: #af7eeb;
}

#button {
  display: inline-block;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(163, 175, 243) 0%,
    rgb(220, 182, 232) 100.2%
  );
  color: #fff;
  border-radius: 5px;
  text-align: center;
  margin: 2px 0px 0px 5px;
  padding: 7px 15px;
  font-size: medium;
}

#button:hover {
  cursor: pointer;
  opacity: 0.8;
}

p,
em {
  color: #af7eeb;
  font-size: 14px;
  padding-left: 5px;
}

ol {
  padding-left: 20px;
}

ol li {
  padding: 5px;
  color: #000;
}

ol li:nth-child(even) {
  background: #dfdfdf;
}

.strike {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.delete {
  display: none;
}

li > crossOutButton {
  background: none;
  border: none;
  float: right;
  color: #af7eeb;
  font-weight: 800;
}
footer {
  text-align: center;
}

.iconify:hover {
  cursor: pointer;
}
